<p id="notice"><%= notice %></p>

<br>
<h1><%= @course.title %></h1>
<br>
<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Code:</strong>
  <%= @course.code %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @course.teacher %>
</p>


<%= render 'courses/navbar', course: @course %>

<h3>Assignments</h3>

<%= render 'assignments/list', assignments: @course.assignments %>

<br>

<%= link_to 'New Student', new_course_enrollment_path(course_id: @course.id) %>
